.load {
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 200px;
  font-size: 30px;
}
.productDisplay {
  padding-top: 75px;
}
.endDisplay::-webkit-scrollbar {
  display: none;
}
.endDisplay {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product {
  min-height: 650px;
  max-width: 1100px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  display: grid;
  grid-template-columns: 45% 55%;
  padding: 40px 0 0 0;
  margin-bottom: 50px;
}
.prodImg {
  padding: 30px;
  border: 1px solid #ccc;
  width: 400px;
  max-height: 400px;
  height: 100%;
}
.imageAndProd {
  align-self: flex-start;
  justify-self: center;
  height: 100%;
  display: grid;
  grid-template-rows: 400px 30%;
}
.buyAndCart {
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}
.addCart,
.buyNow {
  cursor: pointer;
  max-width: 400px;
  width: 100%;
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.addCart {
  background-color: rgb(255, 194, 82);
}
.buyNow {
  background-color: rgb(212, 118, 41);
}
.descri {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.productTitle {
  font-size: 30px;
}
.productRate {
  font-weight: 900;
  font-size: 20px;
  text-wrap: nowrap;
  background-color: rgb(0, 181, 0);
  color: white;
  height: 35px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descri p {
  color: green;
  font-weight: 600;
  font-size: 18px;
}
.productPrice {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
.disPrice {
  font-size: 30px;
  font-weight: 600;
}
.orgPrice {
  font-size: 20px;
  color: #848484;
  text-decoration: line-through;
}
.dis {
  font-size: 21px;
  font-weight: 600;
  color: green;
}
.featuresCont {
  margin: 0 40px 15px 0;
  border: 1px solid #ccc;
  display: flex;
  min-height: 320px;
  flex-direction: column;
}
.featHead {
  padding: 13px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.featlist {
  border-top: 1px solid #ccc;
  padding: 15px 15px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.featlist li {
  font-size: 20px;
}
.sec2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}
.offers {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.offerHead,
.revHead {
  max-width: 550px;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}
.offerDetail,
.revDetail {
  max-width: 550px;
  width: 100%;
  height: 450px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.offerItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 19px;
}
.offerIcon {
  min-width: 20px;
  min-height: 20px;
  color: #1500ff;
}

.reviews {
  justify-self: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.revDetpt {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 19px;
}
.revName {
  font-weight: 600;
}
.monBtn {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 5px 10px;
  z-index: 100;
  border-top: 1px solid #ccc;
}
.mobAddCart,
.mobBuyNow {
  border-radius: 5px;
  height: 70px;
  background-color: #1500ff;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
.mobAddCart {
  background-color: rgb(255, 194, 82);
}
.mobBuyNow {
  background-color: rgb(0, 180, 6);
}
.likeshareCont {
  align-self: flex-start;
  justify-self: right;
  display: flex;
  flex-direction: column;
  gap: 0px;
  position: absolute;
}
.likeshare {
  margin: 10px 10px 0 0;
  border-radius: 100px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.likeshare:hover {
  background-color: #ccc;
}
.likeTP,
.shareTP {
  margin: 10px;
  width: 30px;
  height: 30px;
}
.popAlert {
  position: fixed;
  bottom: -50px;
  left: 50%;
  translate: -50%;
  background-color: white;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
  z-index: 50;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.alertIcon {
  margin-right: 10px;
}
.popup {
  animation: alert 0.5s ease-in-out forwards;
}
.popdown {
  animation: rest 0.5s ease-in-out forwards;
}
@keyframes alert {
  from {
    bottom: -50px;
  }
  to {
    bottom: 60px;
  }
}
@keyframes rest {
  from {
    bottom: 60px;
  }
  to {
    bottom: -50px;
  }
}
@media screen and (max-width: 1130px) {
  .sec2 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
  }
}
@media screen and (max-width: 950px) {
  .descri {
    padding-left: 50px;
  }
  .imageAndProd {
    padding-left: 60px;
  }
  .featlist li {
    font-size: 18px;
  }
}
@media screen and (max-width: 840px) {
  .product {
    grid-template-columns: 1fr;
    grid-template-rows: 40% 60%;
    border-radius: 0;
    padding-bottom: 50px;
  }
  .imageAndProd {
    grid-template-rows: 1fr;
    padding-left: 0;
  }
  .buyAndCart {
    display: none;
  }
  .prodImg {
    width: 350px;
    height: 350px;
  }
  .descri {
    padding-left: 0;
    justify-self: center;
  }
  .featuresCont {
    margin: 0;
  }

  .product {
    margin-bottom: 20px;
  }
  .sec2 {
    margin-bottom: 100px;
  }
  .monBtn {
    display: grid;
  }
}
@media screen and (max-width: 580px) {
  .offerItem,
  .revDetpt {
    font-size: 17px;
  }
  .offerDetail,
  .revDetail {
    height: 480px;
  }
}
@media screen and (max-width: 470px) {
  .product {
    grid-template-rows: 350px 70%;
  }
  .descri {
    margin: 20px 20px 0px 20px;
  }
  .featlist {
    padding: 10px 0 0 5px;
  }
  .featlist li {
    font-size: 17px;
  }
  .offerDetail,
  .revDetail {
    height: 540px;
  }
}
