.mobileRes {
  position: fixed;
  height: 65px;
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
  z-index: 50;
  grid-template-columns: 1fr 1fr 1fr;
  display: none;
}
.mobileHome,
.mobileSrch,
.mobileCart {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
}
.hme {
  height: 24px;
  width: 24px;
}
.mobileHome img,
.mobileSrch img,
.mobileCart img {
  transform: scale(1.05);
}
.nav {
  background-color: white;
  display: grid;
  grid-template-columns: 15% 45% 10% 15% 15%;
  width: 100%;
  height: 65px;
  position: fixed;
  padding: 10px 10px 10px 30px;
  z-index: 80;
}
.NavAcc,
.NavCart,
.searchbox,
.NavWish,
.NavLogo {
  align-self: center;
}
.NavLogo {
  font-size: 35px;
  font-weight: 600;
  justify-self: center;
}
.SRCH {
  width: 24px;
  position: absolute;
  top: 50%;
  margin-left: 10px;
  translate: 0 -50%;
  height: 24px;
}
.searchbox {
  height: 100%;
}
.NavInput {
  width: 90%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: rgb(232, 243, 253);
  font-size: 18px;
  outline: none;
  padding-left: 50px;
  justify-self: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.NavWish,
.NavCart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  font-size: 20px;
}

.NavCart {
  justify-self: right;
}
.cart,
.heart {
  width: 24px;
  height: 24px;
}
.NavWish {
  justify-self: center;
  position: relative;
}
.wishlength {
  position: absolute;
  background-color: orange;
  min-width: 20px;
  top: 0;
  right: 0;
  transform: translate(80%, -70%);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  overflow: hidden;
  animation: wishIntro 1s ease forwards;
}
@keyframes wishIntro {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 30px;
    height: 30px;
  }
  100% {
    width: 25px;
    height: 25px;
  }
}
.mobilwishlength {
  position: absolute;
  background-color: orange;
  min-width: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px 2px;
  right: 12px;
  top: 3px;
}
.mobileWish {
  position: relative;
}
.NavAcc {
  justify-self: center;
  font-size: 20px;
  background-color: rgb(232, 243, 253);
  height: 90%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  cursor: pointer;
  padding: 0 15px;
  position: relative;
}
.userName {
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accImg {
  width: 20px;
  height: 20px;
}
.accDropdown {
  position: absolute;
  width: 140px;
  background-color: white;
  z-index: 5;
  top: 40px;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
  display: none;
  flex-direction: column;
}
.logoutImg {
  width: 24px;
  height: 24px;
}
.NavAcc:hover .accDropdown {
  display: flex;
}
.mobileWish,
.accLogOut {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 15px 0 15px 10px;
  gap: 5px;
  width: 100%;
}
.accwish {
  width: 24px;
  height: 24px;
}
.seperatorline {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
@media screen and (max-width: 1080px) {
  .nav {
    grid-template-columns: 20% 40% 5% 5% 30%;
  }
  .NavWish {
    justify-self: right;
  }
  .NavCart {
    justify-self: right;
  }
  .textCartWish {
    display: none;
  }
}
@media screen and (max-width: 730px) {
  .NavInput {
    display: none;
  }
  .NavCart,
  .NavWish {
    justify-self: center;
  }
  .SRCH {
    position: static;
    margin: 0;
    translate: 0;
  }
  .searchbox {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (max-width: 610px) {
  .nav {
    grid-template-columns: 50% 50%;
  }
  .searchbox,
  .NavWish,
  .NavCart {
    display: none;
  }
  .mobileRes {
    display: grid;
  }
}
