.payCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.payEnd {
  margin-top: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
