.sec1Cont {
  width: 100%;
  height: 730px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.sec1 {
  width: 100%;
  height: 665px;
  display: grid;
  grid-template-columns: 70% 30%;
}
.sec1x {
  display: grid;
  grid-template-rows: 27% 73%;
}
.sec1x1 {
  margin: 10px 10px 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 10px 0 10px;
}
.category {
  align-self: center;
  justify-self: center;
  width: 90%;
  height: 90%;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 80% 20%;
  font-weight: 600;
  font-size: 15px;
}
.topIcons {
  width: 110px;
  height: 110px;
  align-self: flex-end;
  justify-self: center;
  cursor: pointer;
}
.dropdown {
  width: 27px;
  height: 27px;
  transition: transform 0.3s ease-in-out;
}
.rotated {
  transform: rotate(-180deg);
}
.topIcons:hover + .topIconDes,
.topIconDes:hover {
  color: blue;
}
.dropdownBox {
  position: absolute;
  width: 200px;
  height: 400px;
  background-color: white;
  z-index: 5;
  top: 30px;
  display: none;
  border-radius: 10px;
  box-shadow: 1px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
.topIcons:hover + .topIconDes .dropdownBox,
.topIconDes:hover .dropdownBox {
  display: flex;
}

.topIconDes {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-wrap: nowrap;
  cursor: pointer;
  position: relative;
}
.sec1x2 {
  margin: 10px;
  display: grid;
  grid-template-rows: 90% 10%;
}
.imgSlCont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.imageSl {
  width: 100%;
  max-height: 400px;
  border-radius: 10px;
  margin: 20px 20px 0 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lapImage {
  width: 100%;
  height: 100%;
}
.imgPrev,
.imgNext {
  position: absolute;
  background-color: rgba(204, 204, 204, 0.5);
  top: 40%;
  width: 70px;
  height: 100px;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  cursor: pointer;
}
.imgPrev:hover,
.imgNext:hover {
  background-color: rgba(204, 204, 204, 0.7);
}
.imgPrev {
  left: 60px;
}
.imgNext {
  right: 60px;
}
.imgPrevbtn,
.imgNextbtn {
  width: 30px;
  height: 30px;
}
.imgSlCont:hover .imgPrev,
.imgSlCont:hover .imgNext {
  visibility: visible;
}
.imgSlDots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  font-size: 40px;
  font-weight: 600;
}
.sec1xx {
  margin: 10px 10px 10px 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 15px;
}
.offer {
  width: 100%;
  height: 100px;
  position: relative;
}
.offerback {
  position: absolute;
  left: 0;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: rgb(94, 94, 255);
}
.offH1 {
  font-size: 40px;
}
.offerfront {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  cursor: pointer;
  transition: transform 0.1s linear;
}
.offerfront:hover {
  transform: translate(-10px, -10px);
}
.offerfront:nth-child(1) {
  background-color: blueviolet;
}
.offerfront:nth-child(2) {
  background-color: blue;
}
.offerfront:nth-child(3) {
  background-color: brown;
}
.offerfront:nth-child(4) {
  background-color: blue;
}
.offerfront:nth-child(5) {
  background-color: blueviolet;
}

.sec1x1,
.sec1x2,
.sec1xx {
  background-color: white;
  border-radius: 10px;
}
.sec2Cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.sec2 {
  background-color: white;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-rows: 15% 85%;
}
.sec2 h1 {
  justify-self: left;
  padding-left: 20px;
  align-self: flex-end;
  padding-bottom: 5px;
  text-wrap: nowrap;
}
.sec2items::-webkit-scrollbar {
  display: none;
}
.sec2items {
  display: flex;
  flex-direction: row;
  gap: 80px;
  overflow-x: scroll;
  justify-content: center;
  scroll-behavior: smooth;
}
.rowItems {
  display: grid;
  grid-template-rows: 75% 25%;
  cursor: pointer;
}
.imgitems {
  width: 160px;
  height: 160px;
  align-self: center;
  justify-self: center;
}
.itemDes {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemDes p {
  text-align: center;
  width: 140px;
  text-wrap: wrap;
}
.rowItems:hover .itemDes p {
  color: blue;
}
.rowItemsNext {
  position: absolute;
  background-color: rgba(227, 227, 227, 0.5);
  width: 60px;
  height: 80px;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  right: 20px;
  top: 40%;
  cursor: pointer;
  border: 2px solid #ccc;
}
.rowNext {
  width: 35px;
  height: 35px;
}
@media screen and (max-width: 700px) {
  .rowItemsNext {
    display: flex;
  }
}
.threeColumnCont {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 0 10px 10px 10px;
  gap: 10px;
}
.tCC1,
.tCC2,
.tCC3 {
  width: 100%;
  background-color: white;
  height: 630px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 10% 90%;
}

.tccHead {
  padding: 20px 0 20px 15px;
}
.tccItems {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.tccAllItems1,
.tccAllItems2,
.tccAllItems3,
.tccAllItems4 {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.tccAllItems1 {
  margin: 10px 5px 5px 15px;
}
.tccAllItems2 {
  margin: 10px 15px 5px 5px;
}
.tccAllItems3 {
  margin: 5px 5px 15px 15px;
}
.tccAllItems4 {
  margin: 5px 15px 15px 5px;
}
.Fouritems {
  width: 160px;
  height: 160px;
}
.tccItemTitle {
  text-wrap: nowrap;
  overflow: hidden;
  width: 100%;
  max-width: 190px;
  text-overflow: ellipsis;
}
.tccItemDes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.pPrt1 {
  color: #b0b0b0;
  text-decoration: line-through;
}
.tccItemDes h3 {
  font-size: 17.5px;
  text-decoration: none;
}
.pPrt2 {
  color: green;
  text-decoration: none;
  font-weight: 600;
}

.threeParal {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.tP1,
.tP2,
.tP3 {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tP1 {
  margin: 10px 10px 0px 20px;
}
.tP2 {
  margin: 10px 20px 0px 10px;
}
.tP3 {
  margin: 10px 20px 0px 0;
}
.tp1IN {
  background-color: rgb(255, 255, 255);
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-rows: 70% 30%;
}
.tp1INx {
  display: grid;
  grid-template-columns: 70% 30%;
  position: relative;
}
.lapsvg {
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  margin: 20px;
}
.likeshareCont {
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.likeshare {
  border-radius: 100px;
  background-color: #ffffff;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.likeshare:hover {
  background-color: #ccc;
}
.likeTP,
.shareTP {
  margin: 10px;
  width: 35px;
  height: 35px;
}
.titleDes {
  align-self: center;
  justify-self: center;
  margin: 10px 20px 10px 20px;
  font-weight: 600;
}
.trendCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trend {
  background-color: white;
  height: 50px;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 600;
}
.sec1Cont,
.sec2Cont,
.threeColumnCont,
.threeParal {
  margin: auto;
  max-width: 1500px;
}
@media screen and (max-width: 1244px) {
  .threeColumnCont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 1000px) {
  .threeParal {
    grid-template-columns: 1fr 1fr;
  }
  .tP3 {
    display: none;
  }
  .tp1INx {
    grid-template-columns: 100%;
  }
  .likeshareCont {
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(0.8);
  }
  .sec2items {
    justify-content: left;
    padding: 0 45px;
  }
}
@media screen and (max-width: 910px) {
  .threeColumnCont {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .tccItemTitle {
    width: 100%;
    max-width: 140px;
  }
  .tccItemDes {
    text-align: center;
  }
  .titleDes {
    padding-bottom: 20px;
  }
  .likeshareCont {
    top: 0;
    right: 10px;
    transform: scale(0.7);
  }
  .sec1x2 {
    display: none;
  }
  .sec1Cont {
    height: 770px;
  }
  .sec1 {
    height: 705px;
    grid-template-columns: 100%;
    grid-template-rows: 32% 68%;
  }
  .sec1x {
    grid-template-rows: 100%;
  }
  .sec1xx {
    margin: 10px;
    gap: 8px;
  }
  .sec2 h1 {
    justify-self: center;
    padding-left: 0;
    align-self: flex-end;
    padding-bottom: 5px;
    text-wrap: nowrap;
    font-size: 22px;
  }
  .tccHead h1 {
    font-size: 22px;
  }
  .tccHead {
    padding: 20px 0 0 15px;
  }
  .tccAllItems1,
  .tccAllItems2,
  .tccAllItems3,
  .tccAllItems4 {
    margin-top: 0;
  }
}
@media screen and (max-width: 600px) {
  .tP1 {
    margin: 10px 10px 0px 10px;
  }
  .tP2 {
    margin: 10px 10px 0px 0px;
  }
  .tp1IN {
    margin-bottom: 10px;
  }
  .tp1IN {
    grid-template-rows: 50% 50%;
  }
  .lapsvg {
    width: 150px;
    height: 150px;
  }
  .Fouritems {
    width: 140px;
    height: 140px;
  }
  .sec1x1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .topIcons {
    width: 70px;
    height: 70px;
  }
}
